<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Pos</th>
      <th>Team</th>
      <th>PTS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Williams Honda</td>
      <td>141</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>McLaren TAG</td>
      <td>96</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Lotus Renault</td>
      <td>58</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Ferrari</td>
      <td>37</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Ligier Renault</td>
      <td>29</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Benetton BMW</td>
      <td>19</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Tyrrell Renault</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>Lola Ford</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Brabham BMW</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Arrows BMW</td>
      <td>1</td>
    </tr>
  </tbody>
</table>