<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>sports</title>
    <head>
    <body>
    <div style = "position:relative; left:575px;">
    <font size="+2"><p><b>My favourite sports!</b></p></font>
    </div>
    <p> My favourite sports to watch are: 
    <ul>
       <li><a href="https://www.britannica.com/story/why-do-some-people-call-football-soccer">Football</a></li>
       <li><a href="https://bleacherreport.com/articles/530762-los-angeles-lakers-5-reasons-they-are-nbas-best-team">Basketball</a></li>
       <li>Formula 1 (this <a href="F1">link</a> will take you to the standings)</li> 
    </ul>
    </p>
    </body>
</html>

